body {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: -apple-system, "Fira Sans", "Roboto", "Helvetica Neue",
    BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell",
    "Droid Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
